{
    "rules": {
      "react/jsx-filename-extension": [ 1, { "extensions": [ ".js", ".jsx" ] } ]
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false
    },
    "plugins": [
      "@typescript-eslint"
    ]
}