.main{
    display: grid;
    width: 100%;
    justify-items: center;
}
.main__promo{
    max-width: 1280px;
    margin: 17px auto 0;
    min-height: 400px;
    border-radius: 10px;
    text-align: center;
    background-color: #F5F5F5;
}
.main__title{
    display: grid;
    margin: auto;
    font-weight: 500;
    font-size: 47px;
    max-width: 60%;
    padding-top: 162px;
    padding-bottom: 30px;
}
.main__nav-tab{
    display: grid;
    grid-template-columns: auto fit-content(100%) fit-content(100%) fit-content(100%) auto;
    list-style-type: none;
    gap: 10px;
    padding: 129px 0 30px 0;
    margin: 0;
}
.main__nav-tab-item{
    display: grid;
    width: 100px;
    height: 35px;
    background-color: #E8E8E8;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
}
.main__nav-tab-item a{
    text-decoration: none;
    color: #fff;
}
.main__nav-tab-item-first{
    grid-column-start: 2;
}
.main__about-project{
    max-width: 1139px;
    margin: auto;
}
.main__section-title{
    display: grid;
    max-width: 1139px;
    margin: auto;
    border-bottom: solid black 1px;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 22px;
    padding-top: 114px
}
.main__about-project-list{
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    padding: 52px 0 0 0;
    gap: 15px;
    margin: 0;
}
.main__about-project-item{
    display: grid;
}
.main__about-project-item-title{
    margin: 19px 0 27px 0;
    font-size: 19px;
    font-weight: normal;
}
.main__about-project-item-description{
    font-size: 16px;
    font-weight: normal;
}
.main__about-project-timeline{
    display: grid;
    width: 100%;
    grid-template-columns: fit-content(100%) auto;
    justify-items: center;
    list-style-type: none;
    padding: 97px 0 99px 0;
    margin: 0;
}
.main__about-project-timeline-item{
    text-align: center;
    width: 100%;
    min-width: 50%;
    padding: 0 10px;
}
.main__about-project-timeline-item-title{
    display: grid;
    margin: 0;
    min-height: 35px;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
}
.main__about-project-timeline-item-title_black{
    background-color: #000000;
    color: #ffffff;

}
.main__about-project-timeline-item-title_gray{
    background-color: #E8E8E8;
    color: #000000;
}
.main__about-project-timeline-item-description{
    margin: 18px 0 0 0;
    font-size: 14px;
    font-weight: normal;
    color: #E8E8E8;
}
.main__techs{
    width: 100%;
    background-color: #F5F5F5;
}
.main__techs-content{
    display: grid;
    max-width: 1139px;
    margin: auto;
}
.main__techs-content-title{
    display: inline-grid;
    margin: auto;
    font-weight: 500;
    font-size: 47px;
    max-width: 60%;
    padding-top: 89px;
    padding-bottom: 30px;
}
.main__techs-content-subtitle{
    display: inline-grid;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    max-width: 40%;
    text-align: center;
}
.main__techs-list{
    display: grid;
    max-width: 1139px;
    grid-template-columns: auto fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) auto;
    list-style-type: none;
    gap: 10px;
    padding: 100px 0 100px 0;
    margin: 0;
}
@media all and(max-width: 768px){
    .main__techs-list{
        grid-template-columns: repeat(2, 1fr);
    }
}
.main__techs-item{
    display: grid;
    width: 90px;
    height: 60px;
    background-color: #E8E8E8;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    font-size: 12px;
}
.main__techs-item_start{
    grid-column-start: 2;
}
.main__about-me{
    max-width: 1139px;
    margin: auto;
}
.main__about-me-content{
    display: grid;
    grid-template-areas: "description avatar";
    padding: 52px 0 0 0;
    gap: 15px;
    justify-items: end;
}
.main__about-me-avatar{
    display: grid;
    grid-area: avatar;
    width: 75%; 
    border-radius: 10px;
    overflow: hidden;
}
.main__about-me-info{
    display: grid;
}
.main__about-me-info-title{
    font-weight: 500;
    font-size: 47px;
    margin: 17px 0;
}
.main__about-me-info-subtitle{
    margin: 3px 0 11px;
    font-weight: 500;
    font-size: 22px;
}
.main__about-me-info-social-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: fit-content(100%) fit-content(100%) auto;
    gap: 15px;
    margin: 0;
    padding: 100px 0 15px 0;
}
.main__about-me-description{
    display: grid;
    grid-area: description;
}
.main__portfolio{
    display: grid;
    width: 100%;
    max-width: 1139px;
    margin: auto;
    padding: 0;
}
.main__portfolio-title{
    font-weight: 500;
    font-size: 18px;
    color: #A0A0A0;
    margin: 0;
    padding: 100px 0 30px 0;
}
.main__portfolio-list{
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main__portfolio-item{
    display: grid;
    padding: 22px 0;
    border-bottom: solid 1px #A0A0A0;
    font-weight: 500;
    font-size: 30px;
    background-image: url("../../images/list-element.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.main__portfolio-item-end{
    border-bottom: none;
}
.main__title-404{
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    margin: 246px auto 5px;
}
.main__subtitle-404{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.main__back-link-404{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 100px auto;
}