.movies__card-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    list-style-type: none;
    margin: 70px auto;
    padding: 0;
}
.movies__card-list-more{
    display: grid;
    min-width: 320px;
    min-height: 26px;
    margin: auto;
    border: solid 1px #E8E8E8;
    border-radius: 5px;
    background-color: transparent;
    align-content: center;
    cursor: pointer;
}
.movies__card-list-more_closed{
    display: none;
}