.movies__card{
    display: grid;
    grid-template-columns: auto;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin: 0;
}
.movies__card img{
    width: 100%;
}
.movies__card-header{
    display: grid;
    grid-template-columns: auto fit-content(100%);
}
.movies__card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0 0 15px;
}
.movies__card-save{
    min-width: 30px;
    min-height: 30px;
    background-image: url("../../../images/save9d.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 20px 15px 0;
}
.movies__card-save-action{
    background-image: url("../../../images/save9.svg");
}
.movies__card-duration{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    padding: 0 0 15px 15px;
    color: #A0A0A0;
}