
.movies__search-form{
    display: grid;
    margin: 61px auto;
    width: 100%;
    max-width: 1138px;
    grid-template-columns: auto fit-content(100%);
    justify-items: start;
    align-items: center;
    background: #F9F9F9;
    border-radius: 9px;
}
.movies__search-form-line{
    display: grid;
    margin: auto;
    width: 100%;
    max-width: 1138px;
    min-height: 72px;
    grid-template-columns: auto fit-content(100%);
    background: #F9F9F9;
    border-radius: 9px;
    justify-items: start;
    align-items: center;
}
.movies__search-form-switch{
    display: grid;
    min-height: 72px;
    grid-template-columns: auto auto;
    align-items: center;
    margin: auto;
    gap: 15px;
}
.movies__search-form-item{
    display: grid;
    width: 100%;
}
.movies__search-form-item_separate{
    display: grid;
    border-right: solid 1px #E8E8E8;
}
.movies__search-form-input{
    display: grid;
    width: 90%;
    background-color: transparent;
    background-image: url("../../../images/icon.svg");
    background-position: 15px;
    background-repeat: no-repeat;
    padding-left: 55px;
    border: none;
}
.movies__search-form-input:focus{
    outline: none;
}
.movies__search-button{
    background-color: transparent;
    background-image: url("../../../images/find.svg");
    background-position: right;
    border: none;
    cursor: pointer;
    min-height: 34px;
    min-width: 34px;
    padding: 0;
    margin: 0 10px;
}
.movies__search-switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-left: 15px;
}
.movies__search-switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.movies__search-switch-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.movies__search-switch-slider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .movies__search-switch-slider{
    background-color: #2BE080;
}

input:focus + .movies__search-switch-slider{
    box-shadow: 0 0 1px #2BE080;
}

input:checked + .movies__search-switch-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.movies__search-switch-slider.movies__search-switch-slider_round {
    border-radius: 24px;
}

.movies__search-switch-slider.movies__search-switch-slider_round:before {
    border-radius: 50%;
}
.movies__search-switch-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 0 10px 0 0;
}